[submodule "Beach-Cleaner-STM32-Firmware"]
	path = Beach-Cleaner-STM32-Firmware
	url = https://github.com/kolai5006/Beach-Cleaner-STM32-Firmware.git
[submodule "Beach-Cleaner-UWB1000-Firmware"]
	path = Beach-Cleaner-UWB1000-Firmware
	url = https://github.com/ayleenp27/Beach-Cleaner-UWB1000-Firmware.git
[submodule "Beach-Cleaner-TAG-Firmware"]
	path = Beach-Cleaner-TAG-Firmware
	url = https://github.com/kolai5006/Beach-Cleaner-TAG-Firmware.git
[submodule "Beach-Cleaner-Anchor-Firmware"]
	path = Beach-Cleaner-Anchor-Firmware
	url = https://github.com/kolai5006/Beach-Cleaner-Anchor-Firmware.git
